/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Canvas
 */

 .row {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
 }

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#htmlCanvas {
    width: 855px;
    height: 500px;
}

.colors {
  position: fixed;
}

.colors button:hover {
    background-color: mediumpurple;
    border-radius: 3px;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background: #ccc url(eraser.png); width: 48px; height: 48px};